/* COLOR */
grayUltraLightBack = #F3F3F3
grayUltraLight = #F8F8F8
grayLight = #ECECEC
gray = #7D7D7D
grayDark = #303030

redRegular = #E74C3C
redActive = #BF2E1A

blueRegular = #0083CF
blueActive = #0070B2

boxShadow = 0 2px 4px 0 #000

/* FONT */
fontHeader = "Exo 2"
fontRegular = "Open Sans"
fontIcon = "fonticons"

fontSize5 = 10px
fontSize4 = 12px
fontSize3 = 14px
fontSize2 = 18px
fontSize1 = 28px